*.pyc
*.log
node_modules
coverage/
brace/logs
brace/export_deliverables
brace/cantaloupe/*
brace/staticfiles
brace/media/packages
brace/media/build/
brace/uploadedfiles/*
brace/settings_local.py
webpack-stats.json
.vscode/
*.egg-info
.DS_STORE
CACHE
.tsconfig-paths.json
.frontend-configuration-settings.json
